<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  
  <label for="email">Email:</label>
  <input type="text" name="email" id="email">
  
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  
<<<<<<< HEAD
  <button type="submit" id="Sign Up">Submit</button>
=======
  <button type="submit" id="submit">Submit</button>
>>>>>>> 3daac47fee436e9cc47ba83d345f27e5b64a85b3
</form>
